  <div id="main" role="main">
    <header class="site-header">
      <h1>{{ page.title }}</h1>
    </header>

    <nav class="site-nav">
      <span><a title="首页" class="" href="{{site.url}}/">首页</a></span>
      <span><a title="分类" class="" href="{{site.path}}/categories">分类</a></span>
      <span><a title="标签" class="" href="{{site.path}}/tags">标签</a></span>
      <span><a title="留言" class="" href="{{site.path}}/message">留言</a></span>
      <span><a title="关于" class="" href="{{site.path}}/about">关于</a></span>
    </nav>

  </div>